@charset "UTF-8";

@font-face {
    font-family: fonte-padrao;
    src: url(fontes/ModernSans-Light.otf);
}

@font-face {
    font-family: fonte-decor;
    src: url(fontes/Poppins-Light.ttf);
}

body{
    background-color: #211c1c;
    color: white;
    margin: 0;
    font-family: fonte-padrao;
    overflow-x: hidden;
}

header{
    display: flex;
    background-color: #110f0f;
    border-bottom: solid 1px white;
    width: 100vw;
    display: flex;
    align-items: center;
}

.menu > a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-family: fonte-decor;
    transition: all ease-in-out .5s;
}

.menu > a:hover{
    color: rgb(179, 0, 0); 
}

.menu{ 
    position: absolute;
    right: 5%;
    
}

.logo-header{
    padding: 25px;
    width: 90px;
}


/**************************SECTION - QUEM:**************************************/

.quem{
    display: flex;
    align-items: center;
    background: url(fotos/wallpaper.jpg);
    height: 670px;
}

.quem > p {
    position: absolute;
    left: 5%;
    font-family: fonte-padrao;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    font-size: 50px;
    margin: 0;
}

.img-eu{
    position: absolute;
    right: 5%;
    box-sizing: border-box;
    width: 600px;
}

.habilidades{
    margin-top: 15px;
    display: flex;
}

.img-icons{
    width: 100px;
}

.habilidades > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;

    margin: 0 15px;
    border-radius: 20px;
    transition: all ease-in-out .5s;
}

.habilidades > div:hover{
    background-color: white;
    color: #211c1c;

}

/*****************************SEC - DEV WEB***************************************/

.dev-web{
    text-align: center;
}

.dev-web-habs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-hab{
    width: 100px;
}





