@charset "UTF-8";

@font-face {
    font-family: fonte-padrao;
    src: url(fontes/ModernSans-Light.otf);
}

@font-face {
    font-family: fonte-decor;
    src: url(fontes/Poppins-Light.ttf);
}

body{
    background-color: rgb(33, 28, 28);
    color: white;
    margin: 0;
    font-family: fonte-padrao;
}

header{
    display: flex;
    background-color: rgb(17, 15, 15);
    border-bottom: solid 1px white;
    width: 100vw;
    display: flex;
    align-items: center;
}

.menu > a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-family: fonte-decor;
    transition: all ease-in-out .5s;
}

.menu > a:hover{
    color: rgb(179, 0, 0); 
}

.menu{ 
    position: absolute;
    right: 5%;
    
}

.logo-header{
    padding: 25px;
    width: 90px;
}


.quem > h1{
    font-size: 35px;
}

.img-eu{
    height: 600px;
    padding: 20px;
}

.quem{
    display: flex;
    font-size: 20px;
}

.texto-quem{
    display: flex;
    flex-direction:column ;
    padding: 20px;
    justify-content: center;
}